{% extends 'base.html' %}

{% block content %}
    <h1>О Нас</h1>

    <!-- Многострочный текст -->
    <p>
        Команда разработчиков
    </p>
    <p>
    </p>
    <p>
    </p>

    <!-- Форма 1: Фото слева, текст справа -->
    <div class="info-section">
        <img src="/static/images/photo1.jpg" alt="Фото 1" class="photo">
        <div class="text">
            <h2>Сергей "FrontEnd" Приймак</h2>
            <p>
                Frontend: JS, HTML, CSS
            </p>
            <p>
                Phone number
            </p>
            <p>
                Mail
            </p>
        </div>
    </div>

    <!-- Форма 2: Фото слева, текст справа -->
    <div class="info-section">
        <img src="/static/images/photo2.jpg" alt="Фото 2" class="photo">
        <div class="text">
            <h2>Дмитрий "BackEnd" Скибинский</h2>
            <p>
                Backend: Python Flask
            </p>
            <p>
                Phone number
            </p>
            <p>
                Mail
            </p>
        </div>
    </div>

    <!-- Форма 3: Фото слева, текст справа -->
    <div class="info-section">
        <img src="/static/images/photo3.jpg" alt="Фото 3" class="photo">
        <div class="text">
            <h2>Владислав "TeamLider" Тимошин</h2>
            <p>
                Просто совершенен
            </p>
            <p>
                Phone number
            </p>
            <p>
                Mail
            </p>
        </div>
    </div>

{% endblock %}
