<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">О Нас</a></li>
            <li><a href="/theory">Теоретическая часть</a></li>
            <li><a href="/tests">Тесты</a></li>
            <li><a href="/calculators">Калькуляторы</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
