<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тесты</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">О Нас</a></li>
            <li><a href="/theory">Теоретическая часть</a></li>
            <li><a href="/tests">Тесты</a></li>
            <li><a href="/calculators">Калькуляторы</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>

    <div class="content">
        <h1>Тесты</h1>
        <div class="test-buttons">
            <a href="/test1" class="test-button">Тест 1: Бюджет: доходы и расходы</a>
            <a href="/test2" class="test-button">Тест 2: Кредиты</a>
            <a href="/test3" class="test-button">Тест 3: Инвестиции</a>
            <a href="/test4" class="test-button">Тест 4: Пенсия</a>
        </div>
    </div>
</body>
</html>