{% extends 'base.html' %}

{% block content %}
    <h1>Теоретическая часть</h1>
    
    <div class="theory-buttons">
        <a href="/article1" class="theory-button">
            <img src="/static/images/photo4.jpg" alt="Теория 1">
            <div class="overlay">Бюджет: основы финансовой грамотности</div>
            <h3>Бюджет</h3>
        </a>
        <a href="/article2" class="theory-button">
            <img src="/static/images/photo5.jpg" alt="Теория 2">
            <div class="overlay">Кредиты: основы финансовой грамотности</div>
            <h3>Кредиты</h3>
        </a>
        <a href="/article3" class="theory-button">
            <img src="/static/images/photo6.jpg" alt="Теория 3">
            <div class="overlay">Инвестиции: основные принципы</div>
            <h3>Инвестиции</h3>
        </a>
        <a href="/article4" class="theory-button">
            <img src="/static/images/photo7.jpg" alt="Теория 4">
            <div class="overlay">Пенсия: основы финансовой грамотности</div>
            <h3>Пенсия</h3>
        </a>
    </div>
{% endblock %}